<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1> <br><hr>
<form method="post">
    {{ form.name.label }} <br>
    {{ form.name }} <br>
    {{ form.email.label }} <br>
    {{ form.email }} <br>
    {{ form.password.label }} <br>
    {{ form.password }} <br>
    {{ form.password_repeat.label }} <br>
    {{ form.password_repeat }} <br>
    {{ form.button }}<br>
</form>
</body>
</html>